@page
@model TheCrewCommunity.Pages.Account.Logout
@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogoutRedirect</title>

    <script type="text/javascript">
        window.onload = function () {
            window.location.href= "/"
        }
    </script>
</head>
<body>
</body>
</html>