@page
@model TheCrewCommunity.Pages.Account.Profile

@{
    ViewData["Title"] = "Not logged in";
    if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        ViewData["Title"] = User.Identity.Name;
    }
}
<head>
    <!-- Other head elements -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top rounded-circle" src="@(Model.DiscordUser?.AvatarUrl ?? "/images/default-avatar.png")" alt="Profile picture">
            <div class="card-body">
                <h5 class="card-title">@Model.ApplicationUser?.UserName</h5>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!-- Rest of the content -->
    </div>
</div>