@page
@model TheCrewCommunity.Pages.Account.Profile

@{
    ViewData["Title"] = "Not logged in";
    if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        ViewData["Title"] = User.Identity.Name;
    }
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="/css/Profile.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top rounded-circle profile-avatar" src="@Model.ApplicationUser.AvatarUrl" alt="Profile picture">
                <h5 class="card-title global-user-name">@Model.ApplicationUser.GlobalUsername</h5>
                <h5 class="card-title">@Model.ApplicationUser.UserName</h5>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!-- Rest of the content -->
    </div>
</div>