@page
@model TheCrewCommunity.Pages.Account.Registering

@{
    ViewData["Title"] = "Registering";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Pages/Account/registering.cshtml.css">
</head>

<div class="loading-container">
    <p>Registering...</p>
    <div class="loader"></div>
</div>