<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-adsense-account" content="ca-pub-8510286736297873">
    <base href="/"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="TheCrewCommunity.styles.css?v=@Guid.CreateVersion7()"/>
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8510286736297873"
            crossorigin="anonymous"></script>
    <script src="js/blazorHelpers.js"></script>

    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>