.profile-avatar {
    width: 200px !important;
    height: 200px;
    object-fit: fill;
}
.user-name { 
    font-style: italic; 
    color: grey; 
    font-size: 0.8rem;
} 
.global-user-name { 
    font-weight: bold; 
    margin-bottom: 0 !important;
}
.badge-container{
    display: inline-flex;
    height: 35px;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #2a2a2a;
    border-radius: 5px;
    padding: 1px;
}
.badge-img{
    height: 100%;
}