html {
  font-size: 14px;
  background-color: #2a2a2a !important;
  color: lightgray;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 0;
  background-color: #2a2a2a !important;
  color: lightgray;
  display:flex;
  flex-direction: column;
  max-height: 100vh;
}
main{
  max-height: 100vh;
}
footer{
  margin-top: auto;
}

.map-background {
  background-image: url("../assets/TCM_MAP.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100%;
}
.navigationBar{
  overflow: hidden;
  background-color: #2a2a2a;
}
.navigationBar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subNav, .subNav2, .dropDown{
  float: left;
  overflow:hidden;
}
.navRight{
  float: right;
}
.subNav .subNavButton,.subNav2 .subNavButton , .subNavRight .subNavButton, .dropDown .dropDownButton{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navigationBar a:hover,
.subNav:hover .subNavButton,
.subNav2:hover .subNavButton,
.subNavRight:hover .subNavButton{
  background-color: yellow;
  color: black;
}
.subNavContent,
.subNavContent2{
  display: none;
  position: absolute;
  left: 0;
  background-color: yellow;
  color: black;
  width: 100%;
  z-index: 1;
  border: 1px solid black;
}
.dropDownContent {
  display: none;
  position: absolute;
  background-color: yellow;
  color: black;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.subNavContent a, .subNavContent2 a{
  text-decoration: none;
  color:black;
}
.dropDownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.subNavContent a:hover,
.subNavContent2 a:hover,
.dropDownContent a:hover{
  background-color: orange;
}
.subNav:hover .subNavContent,
.subNav2:hover .subNavContent2,
.dropDown:hover .dropDownContent{
  display: block;
}

.sidebar{
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #2a2a2a;
  height: 100vh;
  overflow: auto;
}
.sidebar a{
  display: block;
  left: 0;
  color: white;
  text-decoration: none;
  padding: 16px;
  width: 100%;
  border: black 1px solid;
}
.sidebar a:hover{
  background-color: yellow;
  color: black;
  text-decoration: none;
 }
.ProSettingsContainer {
  display: flex;
}
.ProSettingsContents{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.searchBox{
  height: 40px;
}
.proSettingsList{
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 240px);
}
.proElement{
  padding: 10px;
  color: black;
  background-color: yellow;
  border: black solid 1px;
  margin: 2px;
}
.proElement:hover{
  background-color: orange;
}
.proDetails{
  display: inline-block;
}
.proBrand{
  width: 15%;
}
.proModel{
  width: 30%;
}
.proName{
  width: 20%;
  text-overflow: ellipsis;
}
.proDescription{
  width: 35%;
}