nav{
    box-sizing: border-box;
}
.navbar{
    overflow: hidden;
    background-color: #2a2a2a;
    border-bottom: solid yellow 1px;
    height: 50px;
}
.navbar-right{
    height: 100%;
    float: right;
}
.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
}
.hamburger{
    display: none;
    height: 100%;
    background-color: #2a2a2a;
    float: left;
    width: 50px;
    color: white;
    padding: 10px;
    border: none;
}
.hamburger:hover{
    background-color: yellow;
    color: black;
}
.hamburger i{
    font-size: 25px;
}
.dropdown{
    float: left;
    overflow: hidden;
    height: 100%;
}
.dropdown .dropdown-button{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 100%;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navbar a:hover,
.dropdown:hover .dropdown-button{
    background-color: yellow;
    color: black;
}
.dropdown-content a:hover{
    background-color: yellow;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.navbar-right .dropdown .dropdown-content{
    right: 0;
}
@media screen and (max-width: 600px){
    .navbar a:not(.navbar-right a), .dropdown:not(.navbar-right .dropdown){
        display: none;
        
    }
    .responsive{
        height: 100%;
    }
    .responsive a,
    .responsive .dropdown{
        display: block !important;
        width: 100%;
    }
    .dropdown-content,
    .dropdown-button{
        width: 100%;
    }
    
    .navbar a.icon{
        float: right;
        display: block;
    }
    .hamburger{
        display: block;
    }
    .navbar-right{
        position: absolute;
        right: 0;
        top:0;
        height: 50px;
    }
}