@page "/Motorfest/PhotoMode/Upload"
@using Microsoft.AspNetCore.Components.Forms
<EditForm Model="_uploadModel" OnValidSubmit="HandleUpload">
    <DataAnnotationsValidator />
    <div>
        <!-- <InputFile id="formFile" @onchange="HandleFileSelected" required/> -->
    </div>
    <div>
        <label>Title:</label>
        <InputText id="title"@bind-Value="_uploadModel.Title"/>
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
    <ValidationSummary/>
</EditForm>


@code {
    private class UploadModel
    {
        public byte[] Image { get; set; }
        public string Title { get; set; }
    }

    private string _fileName = string.Empty;

    private UploadModel _uploadModel = new();

    private async Task HandleUpload()
    {
        if (string.IsNullOrEmpty(_uploadModel.Title))
        {
            _uploadModel.Title = _fileName;
        }
        // upload image code here
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        IBrowserFile? file = e.File;
        if (file is null) return;
        string ext = Path.GetExtension(file.Name);
        if (ext is ".png" or ".jpeg" or ".webp")
        {
            _fileName = Path.GetFileNameWithoutExtension(file.Name);
            using MemoryStream ms = new();
            await file.OpenReadStream().CopyToAsync(ms);
            _uploadModel.Image = ms.ToArray();
        }
    }
}