@page "/"

<PageTitle>The Crew Community</PageTitle>

<h1>The Crew Community Hub</h1>

Welcome, this is the community hub for all things The Crew. Share pro settings, Photomode pictures and read up on community guides.
Almost every part  of this website is work in progress, so expect bugs and pages that lead to nowhere. It is being developed in free time. Thanks everyone for the feedback and understanding. ;)