@page "/rules"
<h3>Rules</h3>
This is a collection of The Crew Community rules. Breaking any of them will result in a moderation action. TCC web and Discord are made by the community for the community. Owning the game does not give you the right to it. Treat it and its users with respect, and you shall be treated the same.
Not knowing the rules does not free you from responsibility.
<h4>Photo Posting Rules</h4>
<ul>
    <li>The Crew franchise pictures only</li>
    <li>No nudity</li>
    <li>No racial slurs or hate speech</li>
    <li>Post only your own content</li>
    <li>No spamming</li>
</ul>

<h4>Discord Rules</h4>
<ul>
    <li>You must comply with <a href="https://discord.com/guidelines">Discords Guidelines</a>.</li>
    <li>You must comply with Ubisoft <a href="https//www.ubisoft.com/help?article=000095037">Code of Conduct</a>.</li>
    <li>Any kind of advertisement is not allowed. No plugging of your content outside of the specified channels.</li>
    <li>Do not be disruptive to the community. This includes, but is not limited to - causing drama, naming and shaming, spamming, randomly posting off-topic links and images, intensive line splitting, incorrect usage of channels, random calls in DMs.</li>
    <li>Do not post content that contains pornographic imagery or anything that would be considered not safe for work.</li>
    <li>Do not post leaks or things that are under a Non-Disclosure Agreement(NDA). Such actions will result in bans.</li>
    <li>Do not post other peoples artwork as your own. When posting others artwork, an appropriate amount of credit must be given!</li>
    <li>Any kind of unsolicited direct messages or mentions to Ubisoft Employees or Moderators is not allowed. Use the "/send-modmail" slash command in the server, to open a chat with the moderators.</li>
    <li>Don’t argue against moderative action in public, if you have an issue with the action taken against you, you can use the Mod Mail to dispute it. If it is another person who got punished, we will not discuss it with you.</li>
    <li>Let the moderators do their job, if an issue occurs, use Mod Mail to contact the moderator team. Backseat moderating can result in a warning.</li>
    <li>We are here to embrace and enjoy the world of Motornation, a constant negative attitude will result in a moderative action. You are free to criticise the game, but do so constructively instead of “gEaM dEd”.</li>
    <li>Your username must be mentionable, readable and in line with the server rules. Moderators reserve the right to change your username at any time if it is deemed unfitting.</li>
    <li>Moderators have the right to permanently punish (warn/kick/ban) users that they deem unfit for the server.</li>
</ul>


@code {
    
}